@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
*, *:after, *:before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat';
    overflow: hidden;
}

.card-index {
    height: 93.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 0;
}

.button-width {
    width: 15rem;
    background-color: #EE2122;
    border: white 1px;
}

#survey {
    display: flex;
    justify-content: center;
    align-items: center;
}

form section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}