@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
*, *:after, *:before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    /* overflow: hidden;  */
}

/* *************** NAVBAR *************** */

/* *************** MAIN / ACCUEIL *************** */

.card-index {
    height: 93.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 0;
}

.button-width {
    width: 15rem;
    background-color: #EE2122;
    border: white 1px;
}

/* *************** SURVEY *************** */

.no-scroll{background-color:pink;}
/* .no-scroll>h1{background-color: red;}
.debug{background-color: blue;} */


.question-title {
    font-size: 2rem;
    padding: 3rem;
}

.no-scroll {
    height: 100vh;
}

label {
    margin: 1rem;
}

/* *************** FOOTER *************** */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.nav-footer ul {
    display: inline;
    list-style-type: none;
}
.nav-footer ul li {
    list-style-type: none;
    padding: 1rem;
}

.nav-footer ul li a {
    text-decoration: none;
    color: black;
}

.size-img {
    width: 50px;
    height: 50px;
}

/* *************** CREDITS *************** */

#image_carousel {
    max-width: 30%;
    margin-top: 30%;
    width: 80%;
    margin-left: 10%;
}


#carousel-item.active {
    margin: auto;
}

@media screen and (min-width: 800px) {

     /* *************** NAVBAR *************** */
    /* *************** MAIN / ACCUEIL *************** */
    /* *************** SURVEY *************** */
    /* *************** FOOTER *************** */
   
   

    .footer {
        align-items: center;
        border-top: 1px solid black;
        justify-content: space-between;
        flex-direction: row;
    }
    
    .nav-footer ul li {
        padding: 10px;
    }
    
    .nav-footer ul {
        display: flex;
        flex-direction: row;
    }
    /* *************** CREDITS *************** */
}